/* You can add global styles to this file, and also import other style files */
body {
  background-color: lightgrey;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.center-horizontal {
  display: flex;
  justify-content: center;
}

.center-vertical {
  display:flex;
  align-items:center;
}

.pct25 {
  height: 25%;
}

.large {
  font-size: 6rem;
}